#guia-de-receitas {
    padding: 40px 20px;
    background: linear-gradient(to right, #8b9c6f, #dfe5d4);
    text-align: center;
}

#guia-de-receitas h2 {
    font-size: 50px;
    margin: 0px 0px 0px;
    color: #344a17;
    font-family: "Bebas Neue", sans-serif;
}

#guia-de-receitas p {
    font-size: 20px;
    margin-bottom: 30px;
    color: #000000;
}

.receitas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.prato {
    width: 250px;
    background: #8b9c6f;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex; /* NOVO: Usa flexbox para o conteúdo interno do cartão */
    flex-direction: column;
    align-items: center; /* NOVO: Centraliza os itens horizontalmente */
    transition: transform 0.3s ease;
}

.prato:hover {
    transform: scale(1.03);
}

.prato img {
    width: 100%;
    height: 210px;
    object-fit: cover;
}

.titulo-prato {
    color: white;
    font-size: 20px;
    margin: 15px 0 10px;
}

.descricao-prato {
    font-size: 16px;
    color: #ffffff;
    padding: 0 20px 10px;
    margin-bottom: 15px;
    display: block;
    text-align: center; /* Centraliza a descrição */
}

.lista-receitas {
    list-style: none;
    padding: 0 10px 10px 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens da lista */
}

.lista-receitas li {
    margin-bottom: 5px;
}

.lista-receitas a {
    text-decoration: none;
    color: #e9ffc5;
    font-weight: bold;
}